.login_wrap {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  min-width: 500px;
  display: flex;
  .login_left {
    width: 56.667%;
  }
  .login_right {
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.login_banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff url("~assets/images/login_banner.png") no-repeat center;
  background-size: cover;
  position: relative;
  text-align: center;
  .footer_txt {
    font-size: 12px;
    font-weight: 400;
    color: rgba(164, 168, 180, 1);
    line-height: 48px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 20px;
  }
}

/* 登录 */
:global(.login-form) {
  min-width: 250px;
  max-width: 450px;
  width: 55%;
  user-select: none;
  :global(.ant-form-item-explain) {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 48px;
  }
  :global(.ant-form-item) {
    margin-bottom: 32px;
  }
}

.login_form {
  h2 {
    font-size: 30px;
    color: rgba(36, 43, 61, 1);
    margin-bottom: 36px;
  }
  .login_item {
    margin-bottom: 30px;
    position: relative;
  }
  input {
    border-radius: 0 !important;
  }
  button {
    border-radius: 0;
    text-align: left;
  }
  .code {
    display: flex;
    input {
      flex: 1;
    }
    button {
      width: 120px;
      margin-left: 12px;
      text-align: center;
    }
  }
  .other {
    display: flex;
    justify-content: space-between;
    a:last-child {
      color: @gray-color;
      &:hover {
        color: @primary-color;
      }
    }
  }
  .login-form-button {
    display: inline-flex;
    justify-content: space-between;
    color: #fff;
  }
}

@media screen and (max-width: 800px) {
  .login_left {
    display: none;
  }
}
@media screen and (min-width: 1450px) {
  .login_form {
    width: 42%;
  }
}
